<% @tasks.each do |task| %>
  <p>Task: <%= task.name %></p>
  <p>Length time: <%= task.length_time %> min.</p>
  <p>Notes: <%= task.notes %></p>
  <p>Category: <%= task.category.name %></p>
  <% if task.user %>
    <p>-yours-</p>
    <p><%= task.user.name %></p>
  <% end %>
  <p>---------------------------</p>
<% end %>