<div class="section default-bg text-muted">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <h3>Edit Preferences</h3>
      <br>
    </div>
  </div>
  <% if @errors %>
    <h3>Errors</h3>
    <% @errors.each do |error| %>
      <h4>- <%= error %></h4>
    <% end %>
  <% end %>
  <%= form_tag "/user-preferences/#{params[:user_id]}", method: :patch do  %>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="form-group has-success has-feedback">
          <label class="control-label" for="inputSuccess5">Set Default Day Start Time</label>
          <input type="time" name="default_st" class="form-control" id="inputSuccess5" value="<%= @user_preferences.default_start_time %>">
        </div>
      </div>
      <div class="col-md-7"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="form-group has-success has-feedback">
          <label class="control-label" for="inputSuccess5">Set Default Day End Time</label>
          <input type="time" name="default_et" class="form-control" id="inputSuccess5" value="<%= @user_preferences.default_end_time %>">
        </div>
      </div>
      <div class="col-md-7"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="form-group has-success has-feedback">
          <label class="control-label" for="inputSuccess5">Break Time Between Tasks</label>
          <input type="number" name="time_between" class="form-control" id="inputSuccess5" value="<%= @user_preferences.time_between %>">
        </div>
      </div>
      <div class="col-md-7"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <button type="submit" class="btn btn-dark btn-lg">Save changes</button>
      </div>
    </div>
  <% end %>
</div>
