<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if gt IE 9]> <html lang="en" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html dir="ltr" lang="en">
  <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <title>The Project | Page Sign Up</title>
    <meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
    <meta name="author" content="htmlcoder.me">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Fontello CSS -->
    <link href="/fonts/fontello/css/fontello.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="/css/animations.css" rel="stylesheet">
    <link href="/plugins/owlcarousel2/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/plugins/owlcarousel2/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/plugins/hover/hover-min.css" rel="stylesheet">    
    
    <!-- The Project's core CSS file -->
    <!-- Use css/rtl_style.css for RTL version -->
    <link href="/css/style.css" rel="stylesheet" >
    <!-- The Project's Typography CSS file, includes used fonts -->
    <!-- Used font for body: Roboto -->
    <!-- Used font for headings: Raleway -->
    <!-- Use css/rtl_typography-default.css for RTL version -->
    <link href="/css/typography-default.css" rel="stylesheet" >
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
    <link href="/css/skins/light_blue.css" rel="stylesheet">
    

    <!-- Custom css --> 
    <link href="/css/custom.css" rel="stylesheet">
  </head>

  <!-- body classes:  -->
  <!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
  <!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
  <!-- "transparent-header": makes the header transparent and pulls the banner to top -->
  <!-- "gradient-background-header": applies gradient background to header -->
  <!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
  <body class="no-trans">

    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
    
    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">
    
      <!-- header-container start -->
      <div class="header-container">
        <header class="header  fixed   dark clearfix">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <!-- header-first start -->
                <!-- ================ -->
                <div class="header-first clearfix">
                  <!-- logo -->
                  <div id="logo" class="logo">
                    <a href="/todays-tasks"><img id="logo_img" src="/images/timely_logo.png" alt="The Project"></a>
                  </div>

                  <!-- name-and-slogan -->
                  <div class="site-slogan">
                    Your Time Management App
                  </div>

                </div>
                <!-- header-first end -->

              </div>
              <div class="col-md-8">
          
                <!-- header-second start -->
                <!-- ================ -->
                <div class="header-second clearfix">
                  
                <!-- main-navigation start -->
                <!-- classes: -->
                <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                <!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
                <!-- ================ -->
                <div class="main-navigation  animated with-dropdown-buttons">

                  <!-- navbar start -->
                  <!-- ================ -->
                  <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">

                      <!-- Toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        
                      </div>

                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <!-- main-menu -->

                        <ul class="nav navbar-nav ">
                          <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings</a>
                            <ul class="dropdown-menu">
                              <li ><a href="/tasks">Tasks</a></li>
                              <li ><a href="/user-preferences">Preferences</a></li>
                            </ul>
                          </li>
                          <li>
                            <nav class="navbar navbar-default" role="navigation">
                              <ul class="nav navbar-nav ">
                                <li>
                                  <a href="/todays-tasks">Today's schedule</a>    
                                </li>
                              </ul>
                            </nav>
                          </li>
                          <li>
                            <nav class="navbar navbar-default" role="navigation">
                              <ul class="nav navbar-nav ">
                                <li>
                                  <a href="/days">Calendar</a>    
                                </li>
                              </ul>
                            </nav>
                          </li>
                          <li>
                            <nav class="navbar navbar-default" role="navigation">
                              <ul class="nav navbar-nav ">
                                <li>
                                  <a href="/about">About</a>    
                                </li>
                              </ul>
                            </nav>
                          </li>
                          <li>
                            <nav class="navbar navbar-default" role="navigation">
                              <ul class="nav navbar-nav ">
                                <li>
                                  <a href="/logout">Logout</a> 
                                </li>
                              </ul>
                            </nav>
                          </li>
                        </ul>
                        <!-- main-menu end -->
                      </div>
                    </div>
                  </nav>
                  <!-- navbar end -->
                </div>
                <!-- main-navigation end -->
              </div>
                <!-- header-second end -->
          
            </div>
          </div>
        </header>
        <!-- header end -->
      </div>
      <!-- header-container end -->
      <section class="light-gray-bg pv-30 padding-bottom-clear clearfix">
        <% str_time = Time.parse(@day.start_time) %>
        <% ed_time = Time.parse(@day.end_time) %>
        <div class="container">
          <% date = Time.parse(@day.date).strftime("%A, %b %d") %>
          <h3 class="text-center">Today's Schedule</h3>
          <h2 class="text-center" style="color: #09afdf;"><%= date %></h2>
          <div class="separator"></div>
          <br>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <div class="body">
                  <h3 class="title">Start day <%= str_time.strftime("%l:%M %p") %></h3>
                </div>
              </div>
            </div>
            <% if @task_to_dos.length >= 1%>
            <div class="col-md-1"></div>
            <div class="col-md-2">
              <div class="app-stopwach-main">
                <h1><clock>00:00:00</clock></h1>
                <p><a href="#" class="btn btn-success btn-sm start">start</a>
                <a href="#" class="btn btn-danger btn-sm stop" style="display: none;">stop</a>
                <a href="#" class="btn btn-warning btn-sm reset">reset</a></p>
             
                <%= form_tag "/todays-tasks/tasks", method: :patch  do %>
                  <select name="name" class="form-control">
                    <% @day.sorted_tasks.each do |task| %>
                      <option><%= task.task.name %></option>
                    <% end %>
                  </select>
                  <input type="hidden" name="duration" id="hidden_timer">
                  <button type="submit" class="btn btn-default btn-sm">Save</button>
                <%end %>
              </div>
            </div>
            <div class="col-md-1"></div>
            <% else %>
            <div class="col-md-4"></div>
            <% end %>
          </div>
          <% if @task_to_dos.length >= 1%>
            <% if @day.sorted_tasks.class == String %>
              <h1 class="text-center" style="color: red;"><%= @day.sorted_tasks %></h1>
            <% else %>
              <div class="row">
                <div class="col-md-2 col-md-offset-5">
                  <div class="app-stopwach-main">
                    <h1><clock>00:00:00</clock></h1>
                    <p><a href="#" class="btn btn-success btn-sm start">start</a>
                    <a href="#" class="btn btn-danger btn-sm stop" style="display: none;">stop</a>
                    <a href="#" class="btn btn-warning btn-sm reset">reset</a></p>
                 
                    <%= form_tag "/todays-tasks/tasks", method: :patch  do %>
                      <select name="name" class="form-control">
                        <% @day.sorted_tasks.each do |task| %>
                          <option><%= task.task.name %></option>
                        <% end %>
                      </select>
                      <input type="hidden" name="duration" id="hidden_timer">
                      <button type="submit" class="btn btn-default btn-sm">Save</button>
                    <%end %>
                  </div>
                </div>
              </div>
              <% @day.sorted_tasks.each do |task| %>
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                      <span class="icon without-bg"><i class="<%= task.task.icon %>" style="color: #09afdf;"></i></span>
                      <div class="body">
                        <div class="row">
                          <% if task.going_time %>
                            <div class="col-md-4">
                              <h3 class="title"><%= task.task.name %></h3> 
                              <% if task.start_time == "" %>
                                <% leave_at = str_time.strftime("%l:%M %P") %>
                                <% str_time += (task.going_time * 60) %>
                                <h4><%= str_time.strftime("%l:%M %P") %></h4>
                                <% str_time += (task.custom_duration * 60) + (@time_btw * 60) + (task.going_time * 60)%>
                              <% else %>
                                <% str_time = Time.parse(task.start_time) %>
                                <% leave_at = str_time - (task.going_time * 60) %>
                                <% leave_at = leave_at.strftime("%l:%M %P") %>
                                <h4><%= str_time.strftime("%l:%M %P") %></h4>
                                <% str_time += (task.custom_duration * 60) + (@time_btw * 60) + (task.going_time * 60)%>
                              <% end %>
                            </div>
                            <div class="col-md-4">
                              <h4 class="title">Leave at: <%= leave_at %></h4>
                              <b>Travel time: </b><%= task.going_time %> min.<br>
                              <b>Dest.</b> <%= task.destination %>
                            </div>
                          <% else %>
                            <div class="col-md-8">
                              <h3 class="title"><%= task.task.name %></h3> 
                              <% if task.start_time == "" %>
                                <h4><%= str_time.strftime("%l:%M %P") %></h4>
                                <% str_time += (task.custom_duration * 60) + (@time_btw * 60) %>
                              <% else %>
                                <% str_time = Time.parse(task.start_time) %>
                                <h4><%= str_time.strftime("%l:%M %P") %></h4>
                                <% str_time += (task.custom_duration * 60) + (@time_btw * 60) %>
                              <% end %>
                            </div>
                          <% end %>
                          <div class="col-md-3">
                            Est. Duration
                            <h4><%= task.custom_duration %> min.</h4>
                          </div>
                          <div class="col-md-1">
                            <% if task.importance == "1" %>
                              <h3><i class="glyphicon glyphicon-tag" style="color: #ff0006;"></i></h3>
                            <% elsif task.importance == "2"  %>
                              <h3><i class="glyphicon glyphicon-tag" style="color: #ffde00;"></i></h3>
                            <% else %>
                              <h3><i class="glyphicon glyphicon-tag" style="color: #05c500;"></i></h3>
                            <% end %>
                            <a href="#" onclick="hideTask(this)">Done</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <h3 class="text-center" style="color: red;">There are no tasks for Today</h3>
            <div class="row">
              <div class="col-md-2 col-md-offset-5">
                <a href="/<%= @day.date %>/task-to-dos/new" class="btn btn-default btn-lg">Add Tasks</a>
              </div>
            </div>
            <br>
          <% end %>
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <div class="body">
                  <h3 class="title">End day <%= ed_time.strftime("%l:%M %p") %></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% if @task_to_dos.length >= 1%>
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <a href="/<%= @day.date %>/task-to-dos/new" class="btn btn-default btn-lg">Add Tasks</a>
              <a href="/<%= @day.date %>/task-to-dos/edit" class="btn btn-dark btn-lg">Edit</a>
              <button class="btn btn-default btn-lg" onclick="showAll()">show all</button>
            </div>
          </div>
        <% end %>
        
      </section>
      <!-- footer top start -->
      <footer id="footer" class="clearfix dark">

        <!-- .footer start -->
          <!-- ================ -->
          <div class="footer">
            <div class="container">
              <div class="footer-inner">
                <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                    <div class="footer-content text-center padding-ver-clear">
                      <div class="logo-footer"><img id="logo-footer" class="center-block" src="/images/timely_logo.png" alt=""></div>
                      <p>Timely is a time management app that tracks the duration of the user’s activities, thus enabling the user to accurately set up a daily schedule. <br>Users can customize preprogrammed tasks, add new tasks, create an editable to-do list for a specific date and ultimately complete tasks sorted by importance or specific scheduled times in a timely fashion.</p>
                      <ul class="list-inline mb-20">
                        <li><a href="mailto:dovybluming@gmail.com" class="link-dark"><i class="text-default fa fa-envelope-o pl-10 pr-5"></i>dovybluming@gmail.com</a></li>
                      </ul>
                      <ul class="social-links circle animated-effect-1 margin-clear">
                        <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/dov-bluming-270ba8140/"><i class="fa fa-linkedin"></i></a></li>
                        <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                        <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                        <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                      <div class="separator"></div>
                      <p class="text-center margin-clear">Copyright © 2017 Timely by <a target="_blank" href="https://www.linkedin.com/in/dov-bluming-270ba8140/">Dov Bluming </a>. All Rights Reserved</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .footer end -->
      </footer>
      <!-- footer end -->
    </div>
    <!-- page-wrapper end -->

    <!-- JavaScript files placed at the end of the document so the pages load faster -->
    <!-- ================================================== -->
    <!-- Jquery and Bootstap core js files -->
    <script type="text/javascript" src="/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- Modernizr javascript -->
    <script type="text/javascript" src="/plugins/modernizr.js"></script>
    <!-- Magnific Popup javascript -->
    <script type="text/javascript" src="/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Appear javascript -->
    <script type="text/javascript" src="/plugins/waypoints/jquery.waypoints.min.js"></script>
    <!-- Count To javascript -->
    <script type="text/javascript" src="/plugins/jquery.countTo.js"></script>
    <!-- Parallax javascript -->
    <script src="/plugins/jquery.parallax-1.1.3.js"></script>
    <!-- Contact form -->
    <script src="/plugins/jquery.validate.js"></script>
    <!-- Owl carousel javascript -->
    <script type="text/javascript" src="/plugins/owlcarousel2/owl.carousel.min.js"></script>
    <!-- SmoothScroll javascript -->
    <script type="text/javascript" src="/plugins/jquery.browser.js"></script>
    <script type="text/javascript" src="/plugins/SmoothScroll.js"></script>
    <!-- Initialization of Plugins -->
    <script type="text/javascript" src="/js/template.js"></script>
    <!-- Custom Scripts -->
    <script type="text/javascript" src="/js/custom.js"></script>

  </body>
</html>

