<section class="light-gray-bg pv-30 padding-bottom-clear clearfix">
  <% str_time = Time.parse(@day.start_time) %>
  <% ed_time = Time.parse(@day.end_time) %>
  <div class="container">
    <% date = Time.parse(@day.date).strftime("%A, %b %d") %>
    <h3 class="text-center">Today's Schedule</h3>
    <h2 class="text-center" style="color: #09afdf;"><%= date %></h2>
    <div class="separator"></div>
    <br>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
          <div class="body">
            <h3 class="title">Start day <%= str_time.strftime("%l:%M %p") %></h3>
          </div>
        </div>
      </div>
    </div>
    <% if @task_to_dos.length >= 1%>
      <% if @day.sorted_tasks.class == String %>
        <h2 class="text-center" style="color: red;">Error:</h2>
        <h3 class="text-center" style="color: red;"><%= @day.sorted_tasks %></h3>
      <% else %>
        <div class="row">
          <div class="col-md-2 col-md-offset-5">
            <div class="app-stopwach-main">
              <h1><clock>00:00</clock></h1>
              <p><button class="btn btn-success btn-sm start">start</button>
              <button class="btn btn-danger btn-sm stop" style="display: none;">stop</button>
              <a href="#" class="btn btn-warning btn-sm reset">reset</a></p>
              <%= form_tag "/todays-tasks/tasks", method: :patch  do %>
                <select name="id" class="form-control">
                  <% @day.sorted_tasks.each do |task| %>
                    <option value="<%= task.id %>"><%= task.task.name %></option>
                  <% end %>
                </select>
                <input type="hidden" name="duration" id="hidden_timer" value="00">
                <button type="submit" class="btn btn-default btn-sm">Save</button>
              <%end %>
            </div>
          </div>
        </div>
        <% @day.sorted_tasks.each do |task| %>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon without-bg"><i class="<%= task.task.icon %>" style="color: #09afdf;"></i></span>
                <div class="body">
                  <div class="row">
                    <% if task.going_time %>
                      <div class="col-md-4">
                        <h3 class="title"><%= task.task.name %></h3> 
                        <% if task.start_time == "" %>
                          <% leave_at = str_time.strftime("%l:%M %P") %>
                          <% str_time += (task.going_time * 60) %>
                          <h4><%= str_time.strftime("%l:%M %P") %></h4>
                          <% str_time += (task.custom_duration * 60) + (@time_btw * 60) + (task.going_time * 60)%>
                        <% else %>
                          <% str_time = Time.parse(task.start_time) %>
                          <% leave_at = str_time - (task.going_time * 60) %>
                          <% leave_at = leave_at.strftime("%l:%M %P") %>
                          <h4><%= str_time.strftime("%l:%M %P") %></h4>
                          <% str_time += (task.custom_duration * 60) + (@time_btw * 60) + (task.going_time * 60)%>
                        <% end %>
                      </div>
                      <div class="col-md-4">
                        <h4 class="title">Leave at: <%= leave_at %></h4>
                        <b>Travel time: </b><%= task.going_time %> min.<br>
                        <b>Dest.</b> <%= task.destination %>
                      </div>
                    <% else %>
                      <div class="col-md-8">
                        <h3 class="title"><%= task.task.name %></h3> 
                        <% if task.start_time == "" || task.start_time == nil %>
                          <h4><%= str_time.strftime("%l:%M %P") %></h4>
                          <% str_time += (task.custom_duration * 60) + (@time_btw * 60) %>
                        <% else %>
                          <% str_time = Time.parse(task.start_time) %>
                          <h4><%= str_time.strftime("%l:%M %P") %></h4>
                          <% str_time += (task.custom_duration * 60) + (@time_btw * 60) %>
                        <% end %>
                      </div>
                    <% end %>
                    <div class="col-md-3">
                      Est. Duration
                      <h4><%= task.custom_duration %> min.</h4>
                    </div>
                    <div class="col-md-1">
                      <% if task.importance == "1" %>
                        <h3><i class="glyphicon glyphicon-tag" style="color: #ff0006;"></i></h3>
                      <% elsif task.importance == "2"  %>
                        <h3><i class="glyphicon glyphicon-tag" style="color: #ffde00;"></i></h3>
                      <% else %>
                        <h3><i class="glyphicon glyphicon-tag" style="color: #05c500;"></i></h3>
                      <% end %>
                      <a href="#" onclick="hideTask(this)">Done</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <h3 class="text-center" style="color: red;">There are no tasks for Today</h3>
      <div class="row">
        <div class="col-md-2 col-md-offset-5">
          <a href="/<%= @day.date %>/task-to-dos/new" class="btn btn-default btn-lg">Add Tasks</a>
        </div>
      </div>
      <br>
    <% end %>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
          <div class="body">
            <h3 class="title">End day <%= ed_time.strftime("%l:%M %p") %></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if @task_to_dos.length >= 1%>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <a href="/<%= @day.date %>/task-to-dos/new" class="btn btn-default btn-lg">Add Tasks</a>
        <a href="/<%= @day.date %>/task-to-dos/edit" class="btn btn-dark btn-lg">Edit</a>
        <button class="btn btn-default btn-lg" onclick="showAll()">show all</button>
      </div>
    </div>
  <% end %>
</section>
