<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if gt IE 9]> <html lang="en" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html>
  <!--<![endif]-->
  <title>Timely</title>
  <head>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <body>
    
    <%= yield %>
    <% if current_user %>
      <%= javascript_tag do %> 
        window.id = <%= current_user.id %>;
      <% end %>
    <% end %>
  </body>

</html>
