<!DOCTYPE html>
<html>
  <head>
    <title>TimeManagementApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |name, massage| %>
    <h4><%= massage %></h4>
  <% end %>
    <%= yield %>
  </body>
</html>
